# requirements.in
livekit-agents>=1.0.11
livekit-agents[cartesia]~=1.0
livekit-plugins-openai
livekit-plugins-elevenlabs
livekit-plugins-cartesia
livekit-plugins-deepgram
livekit-plugins-silero
livekit-plugins-turn-detector
livekit-plugins-google
aiohttp
aiofile
python-dotenv~=1.0
openai
deepgram-sdk
